td.root {
  border-color: white;
  box-shadow: 0px 5px 2px lightgrey;
  color: #ff6b65;
  border-radius: 10px;
  width: 20vw;
  height: 20vw;

  img {
    height: 100%;
    width: 100%;
  }

  &.down {
    img {
      opacity: 0;
    }
  }

  &.up {
    img {
      opacity: 1;
    }
  }
}
